// Color Cube
$shamrock: #4bd7a8;
$regentblue: #a1bae2;
$thunder: #292629;
$donkeybrown: #a3907c;
$denim: #1a5eca;
$goldentainoi: #fecc4f;
$red: #fd0303;
$tuscany: #bd5029;
$brightturquoise: #01d7f5;
$lightblue: #f2f6fb;
$backgroundlightblue: #f0f4fa;
$grey: #b4b3b3;
$lightgrey: #d1d1d1;

// Median Cut
$william: #3c6669;
$anthensgray: #e4e8ed;
$auchico: #995d5c;
$gullgray: #97a9ba;
$muddywaters: #b89062;

// Material Design
$thatch: #b9a59c;
$eastbay: #3b5182;
$shark: #2d2e34;

// Breakpoints
$breakpoints: (
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
  "xxl": 1400px,
);
